.html{
    font-family: 'Roboto', sans-serif;
    color: #3D3D3D;
}
.logo{
    font-family: 'PT Serif', serif;
    font-size: 48pt;
    text-align: center;
    margin: 64px 0 60px;
}
.login{
    float: right;
    margin-right: 30px;
}
.login li{
    float: left;
    padding: 0 30px;
    
}
.main_nav_bar{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    
}
.main_nav_bar li{
    padding: 0 30px;
}
.main_banner{
    background-image: url(../images/main_banner_image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_banner p{
    padding: 187px 0 145px 0;
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 25pt;
    color: white;
}
.button{
    background-color: #605563;
    width: 300px;
    height: 80px;
    color: white;
    font-size: 15pt;
    border-width: 0;
    margin: 0 auto;
    display: block;
}
.main_banner_button{
    padding-bottom: 100px;
}
.the_body{
    text-align: center;
}
.the_body_1th{
    font-size: 16pt;
    padding: 90px;
    color: #777777;
}
.this_month_tea{
    font-family: 'PT Serif', serif;
    font-size: 30pt;
    padding-bottom: 30px;
}
.this_month_tea_name{
    font-family: 'PT Serif', serif;
    font-size: 25pt;
    padding-bottom: 30px;
}
.this_month_tea_descript{
    
}